.pageHeader {
  color: #fff;
  background-color: #20a0ff;
}

.pageSideBar {
  width: 230px;
  height: calc(100vh - 60px);
  background-color: #ccc;
}

.pageContent {
  width: calc(100vw - 230px);
  height: calc(100vh - 60px);
  padding: 20px;
}